body {
  background-color: burlywood;
}



p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.color {
  color: burlywood;
}

.bg-white {
  background-color: white;
}

.bg-brown {
  background-color: saddlebrown;
}

.bg-black {
  background-color: black;
}

.bg-pink {
  background-color: lightpink;
}

.bg-tan {
  background-color: tan;
}

.solid-text-shadow {
  text-shadow: 3px 3px blue;
}

.soft-text-shadow {
  text-shadow: 1px 1px 2px pink, -2px -2px 4px Orange, 0px 0px 12px Blue;
}
